.App {
  text-align: center;
}

.Weather{
  background-image: url('https://c.wallhere.com/photos/59/bb/landscape_forest_deer_artwork_pine_trees_illustration_mountains_minimalism-1189796.jpg!d');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}



.Weather-Card{
  color: rgb(55, 117, 117);
  background-color: rgba(0, 255, 255, 0.5);
  padding: 100px;
  width: 600px;
  height: 500px;
  border-radius: 1rem;
  border: 0ch;
  box-shadow: 5px 5px 5px rgba(1, 255, 137, 0.466);
}

.fa-cloud{
  font-size: 70px;
}

.div-temp{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height : 1px;
}

.Button{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
